{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>hiphop</h1>
    <img  src="{% static 'images/bigN.jpg' %}"/>
    <p>Revenue Retrievin': Day Shift — одинадцятий студійний альбом американського репера E-40, виданий 30 березня 2010
        р. лейблом Heavy on the Grind Entertainment в один день з платівкою Revenue Retrievin': Night Shift.[7][8]
        Виконавчі продюсери: E-40 й Droop-E. У записі релізу взяли участь Too Short, Gucci Mane, B-Legit, Suga-T,
        Droop-E та ін.[9]

        E-40 — перший хіп-хоп виконавець, який випустив два студійних альбоми в один день з тих пір, як Nelly видав дві
        платівки Sweat і Suit у 2004 р.

        На «Lightweight Jammin'», «Undastandz Me» та «The Weedman» існують відеокліпи.</p>
</body>

</html>